ALLOWED_HOSTS='localhost 127.0.0.1'
CSRF_TRUSTED_ORIGINS='http://localhost:8000 http://127.0.0.1:8000'

NGINX_PORT=8000
NGINX_HOST=localhost

DB_HOST=db
DB_USER=kora
DB_NAME=kora
DB_PORT=5432
DB_PASSWORD=kora_changeme_insecure

SECRET_KEY='kora_insecure_u&(t17%=gm5$kg#1mm562q#3(8mrrlb0!2bg75(z5k(!62l+bf'
